 @font-face {
   font-family: "Avenir Next Medium";
   font-style: normal;
   font-weight: 400;
   src: url('../font/avenirnext-medium.ttf') format("truetype");
}

body {
	width: 90%;
	margin: 0 auto;
	color: #4a4a4a;
	font-size: 1.2rem;
    line-height: 1.2em;
	text-align: left;
	background-color: #dedede;
 }
 
div.header {
	margin: 0 auto;
	padding: 0 0 40px 0;
}

footer {
	margin: 0 auto;
}

h1 {
	font-size: 140%;
	margin: 60px 0 0 0;
	padding: 0;
	font-family: "Avenir Next Medium";
	font-weight: 900;
	text-align: left;
	text-transform: uppercase;
  
	 color: #fd1313;
	  background: -webkit-linear-gradient(0deg, #f94c4c 0%, #72a5fb 13%, #c87ef7 30%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}

p {
	padding:30px 0 0;
	margin: 0 auto;
	font-family: "Avenir Next Medium";
    font-weight: 400;
    text-align: justify;
}

.small {
	font-family: 'Avenir Next Medium';
	margin: 0 auto;
	padding: 40px 0 60px 0;
	font-size: 14px;
	text-align: center;
	opacity: 0.33;
}

.des {
	font-family: 'Avenir Next Medium';
	width: 100%;
	padding: 0;
	font-size: 20px;
	line-height: 24px;
	text-align: left;
}

a {
	color:#4a4a4a;
	text-decoration:underline;
}

a:hover	{
	color:#ff0000;
	text-decoration:underline;
}

/* a:visited {
	color:#4a4a4a;
	text-decoration:underline;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0;
}

.grid-item {
  padding: 0;
  font-size: 30px;
  text-align: center;
}

/* ---( image )------------------------------- */

img {
	width: 100%;
	height: auto;
	max-width: 100%;
	/* border-radius: 12px; */
}

video {
	width: 100%;
	height: auto;
	max-width: 100%%;
	/* border-radius: 12px; */
}

div.content{
	width: 100%;
	margin: 0 auto;
	padding: 0 0 24px 0;
    text-align: center;
}
